* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .todo-app {
    padding: 30px 50px;
    width: 100%;
    min-height: 100vh;

  }
  .todo-app h1{
    font-size: 50px;
    text-align: center;
  }
  #task-form{
    margin: 50px 0px;
    width: 100%;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}
  #task-name , #task-date{
   width: 28%;
   padding: 10px;


  }
  #task-priority{
    padding: 10px 20px;
    /* border-radius: 5px; */
    width: 200px; 
  }

  #add-item{
    padding: 10px 70px;
    background-color: black;
    color: white;
  }
  
  .tasks-section{
    margin: 20px 0px;
    width: 100%;
    min-height: 150px;
  }
  .tasks-section h2{
    font-weight: bold;
    font-size: 30px;
  }

  .tasks-section ul {
    list-style-type: none;
    padding: 0;
  }
  .tasks-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .task-details {
    flex: 1;
    display: flex;
    gap: 60px;
    justify-content: space-around;
  }

  .task-actions {
    display: flex;
    gap: 10px;
  }

  .tasks-section li.completed .task-details {
    text-decoration: line-through;
    color: #999;
  }
  .tasks-section button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .tasks-section button.complete {
    background-color: #28a745;
    color: #fff;
  }
  
  .tasks-section button.delete {
    background-color: #dc3545;
    color: #fff;
  }
  
  .tasks-section button:hover.complete {
    background-color: #218838;
  }
  
  .tasks-section button:hover.delete {
    background-color: #c82333;
  }
  
 